.ql-editor .ql-font-Lora { font-family: "Lora", serif; }
.ql-editor .ql-font-Merriweather { font-family: "Merriweather", serif; }
.ql-editor .ql-font-Inter { font-family: "Inter", sans-serif; }
.ql-editor .ql-font-Lato { font-family: "Lato", sans-serif; }
.ql-editor .ql-font-Playfair-Display { font-family: "Playfair Display", serif; }
.ql-editor .ql-font-Montserrat { font-family: "Montserrat", sans-serif; }